.container {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: inline-flex;
}

.img {
    position: relative;
}

.img > div {
    position: relative;
    bottom: 40px;
    color: #fff;
    font-size: 25px;
    background-color: #000;
    padding: 4px 10px;
    font-weight: bold;
    text-align: center;
    word-spacing: 5px;
}

.img > div > a {
    text-decoration: none;
    color: rgb(101, 101, 241);
}

table {
    width: 100%;
    border: 1px solid #000;
    font-size: 23px;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
 }